.outerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textBlue {
    color: #86D8E7;
}
.topContainer {
    display: flex;
    width: 75%;
    margin: 60px 0;
}
.logoLeft {
    flex: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentCenter {
    flex: 60;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.weare {
    font-size: 40px;
    line-height: 60px;
    text-align: center;
}
.face {
    font-size: 50px;
    color: #86D8E7;
    line-height: 60px;
    text-align: center;
}
.forum {
    font-size: 40px;
    color: #86D8E7;
    line-height: 60px;
    text-align: center;
}
.compeng {
    font-size: 40px;
    color: #86D8E7;
    line-height: 60px;
    text-align: center;
}
.logoRight {
    flex: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottomContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 30px 0;
}
.aboutFaceHeading {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}
.aboutFace {
    font-size: 27px;
    font-weight: 500;
}
.weblink {
    width: 75%;
    text-align: right;
    margin: 30px 0 30px;
    font-size: 22px;
    font-weight: 600;
}
.link {
    color: #86D8E7;
}