.section{
    width: 100%;
    display: flex;
}

.imageOuterContainer{
    width: 40%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d9d9d9;
}

.imageInnerContainer{
    width: 85%;
    height: 100%;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}








.textBlockContainer{
    width: 60%;
    color: white;
    display: flex;
    padding: 0px 15px;
    align-items: center;
}

.textBlockInnerContainer{
    width: 100%;
    background-color: #948d8d;
}

.heading, .text{
    width: 100%;
    padding: 15px;
}

.text{
    font-weight: 400;
    font-size: 1.2rem;
}


@media screen and (max-width: 550px){
    .section{
        width: 100%;
        row-gap: 25px;
        display: flex;
        padding: 20px 0px;
        flex-direction: column;
        background-color: #d9d9d9;
    }

    .imageOuterContainer, .textBlockContainer{
        width: 100%;
    }

}