#text{
    padding: 5px;
    font-size: 2rem;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;
}

#cards{
    gap: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content ;
    justify-content: space-around;
}

.card{
    width: 35%;
    min-width: 370px;
    margin: 30px 0px;
    height: fit-content;
}

.cardYearTitleCcontainer{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}

.cardYearTitle{
    color: white;
    font-weight: 400;
    width: fit-content;
    padding: 10px 35px;
    background-color: #948D8D;
}

.imageContainer{
    display: flex;
    margin: 15px 0px;
    min-height: 230px;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
}

.chartImage{
    width: 80%;
    height: 90%;
}

.title{
    width: 100%;
    color: white;
    padding: 20px 20px;
    text-align: center;
    background-color: #948D8D;
}

.title h2{
    font-size: 1.5rem;
    font-weight: 500;
}

