.titleContainer{
    width: 100%;
}

.title{
    color: white;
    margin: 70px auto;
    padding: 10px 25px;
    width: fit-content;
    background-color: #938c8c;
}

.section{
    gap: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.imageBlockContainer{
    padding: 40px;
    width: fit-content;
    background-color: #d9d9d9;
}

.image{
    width: 100%;
}