/* .header{
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.intro{
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(224, 224, 224);
    justify-content: center;
    width: fit-content;
    align-items: center;
    padding: 5px;
    margin: auto;
    height: auto;
}

.container:hover{
    background-color: rgb(172, 164, 164);
    cursor: default;

}

.image1{
    padding: 10px;
}

@media screen and (max-width:830px) {
    .container{
        align-items: center;
        height: fit-content;
        width: fit-content;
        font-size: 16px;
        justify-content: center;
        margin: auto;
        }

        .intro{
            align-items: center;
            height: fit-content;
            width: fit-content;
            font-size: 16px;
            justify-content: center;
            margin: auto;
            }
    .image1{
        height: fit-content;
        width: fit-content;
    }
    .header{
        justify-content: center;
        align-items: center;
    }
    .textContainer{
        padding: 0px 15px;
    }
} */
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cardContainer {
    max-width: 1140px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.facultyHeading {
    font-size: 28px;
    font-weight: 500;
    margin: 25px;
    color: #FFF;
    background-color: #1b1b1b;
    padding: 10px;
    width: 400px;
    text-align: center;
}
.rrdLink {
    text-decoration: none;
}
.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 35px 0;
    width: 500px;
    flex-basis: 50%;
    color: #1b1b1b;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px;
}
.cardImg {
    width: 130px;
    height: 130px;
    object-fit: cover;
}
.cardData {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    margin: auto 25px;
    width: 100%;
}
.cardName {
    font-size: 20px;
    font-weight: 700;
}
.designation {
    font-size: 18px;
    font-weight: 500;
}
.qualification {
    font-size: 16px;
    font-weight: 400;
}
.facultyHeadingMCA {
    font-size: 28px;
        font-weight: 500;
        margin: 25px;
        color: #FFF;
        background-color: #1b1b1b;
        padding: 10px;
        width: 400px;
        text-align: center;
        text-decoration: none;
}