#aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
.aboutDept {
    font-size: 35px;
    color: var(--color-dark);
    text-align: center;
}
#wrapper{
    width: 780px;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
    margin: 25px 0;
    border-radius: 5px;
}
.mainSlide{
    background-color: transparent;
    object-fit: cover;
}
.carousel .slider-wrapper{
    width: 50%;
}
@media screen and (max-width: 992px) {
    .aboutDept {
        font-size: 28px;
    }
    #wrapper{
        width: 320px;
        height: 240px;
    }
}