#objective_main{
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 2rem;
    background-color: var(--bg-medium);
    margin-bottom: var(--main-padding);
}

.title{
    width: 40%;
    padding: 1rem;
    padding-left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    color: white;
    background-color: var(--bg-dark);
}

.title > i{
    margin-right: 3rem;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.5rem;
}

.list_item{
    padding: 1rem;
}

.list_item > span{
    padding: 1rem;
}

@media screen and (max-width: 992px){

    #objective_main{
        padding: 2rem;
    }

    .content{
        padding-bottom: 1rem;
    }
    
    .title{
        width: fit-content;
        padding: 1rem;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
    }
    
    .title > i{
        margin-right: 1rem;
    }
    
    .desc{
        font-size: 1rem;
    }
    
    .list_item{
        padding: 1rem;
    }
    
    .list_item > span{
        padding: 1rem;
    }
}