.app{
  width: 100vw;
}

#header{
  position: relative;
}

#header > nav{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1.5rem;
  color: white;
  z-index: 10;
}

#logo > a > img{
  height: 80px;
}

#menu{
  display: none ;
}

#menubtn{
  display: none;
}

#links{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.links-link{
  position: relative;
  margin-right: 2rem;
  cursor: pointer;
  padding: .5rem;
  border-radius: 5px;
}

.links-link:hover{
  background-color: var(--bg-light);
  color: black;
}

.links-link:hover > .links-link-menu{
  display: flex;
}

.links-link-menu{
  position: absolute;
  display: none;
  flex-direction: column;
  min-width: 100%;
  width: max-content;
  left: 0;
  top: 85%;
  padding: .5rem;
  background-color: var(--bg-light);
  border-radius: 5px;
  color: black;
  z-index: 10;
}

#account > i{
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

/* #hero > img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  filter: brightness(50%);
} */

.hero-background {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(40,40,40,0.5), rgba(40,40,40, 0.5)), url('../public/banner/spit-banner.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-title, .hero-subtitle{
  width: 90%;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  text-align: center;
}

.hero-subtitle{
  margin-top: 25px;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

#footer{
  padding: 2rem 5rem;
  background-color: var(--color-dark);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

#footer-head{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 2px solid white;
}

#footer-head-logo > img{
  height: 120px;
}

#footer-head-socials{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#footer-head-socials > i{
  font-size: 2rem;
  color: var(--color-dark);
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

#footer-info{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

#footer-info-title{
  font-size: 1.8rem;
  padding-bottom: 5px;
}

#footer-college-title {
  font-size: 1.5rem;
  padding-bottom: 5px;
}

.footer-info-content {
  padding-bottom: 5px;
}

#footer-copyright{
  color: white;
  margin-top: 2rem;
}

#mobile {
  display: none;
}

#mobile i {
  color: var(--color-white);
  align-items: center;
}

@media screen and (max-width: 769px) {
  #links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 60px;
    right: -102%;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-light);
    color: #000;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #links.active {
    right: 0px;
  }

  .links-link-menu {
    top: 1rem;
    right: 0;
    padding: .5rem;
    background-color: var(--bg-medium);
    border-radius: 5px;
    color: black;
    left: auto;
   }


  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}

/* For small devices */
@media screen and (max-width: 992px){
  .App{
    width: 100vw;
  }

  #logo > a > img{
    height: 50px;
  }

  #account{
    display: none;
  }

  #menu{
    position: relative;
  }

  #menubtn{
    display: block;
    cursor: pointer;
    font-size: 2rem;
    cursor: pointer;
  }
  
  /* #links{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    font-size: 1rem;
    top: 2rem;
    right: 0;
    background-color: var(--bg-light);
    color:black;
  }

  #links.active{
    display: flex;
  } */

  /* .links-link-menu{
    top: 0%;
    padding: .5rem;
    background-color: var(--bg-light);
    border-radius: 5px;
    color: black;
    left: auto;
    right: 95%;
  } */

  #hero{
    width: 100%;
  }

  #hero > img{
    width: 100%;
    height: 45vh;
  }

  .hero-title{
    font-size: 1.8rem;
  }

  .hero-subtitle{
    font-size: 1.2rem;
  }

  #footer{
    padding: 2rem;
    background-color: var(--color-dark);
  }
  
  #footer-head-logo > img{
    height: 80px;
  }

  
  #footer-head-socials > i{
    padding: .4rem;
    font-size: 1.3rem;
    margin: 5px 10px;
  }
  
  #footer-info{
    margin-top: 1rem;
    font-size: .8rem;
  }
  
  #footer-info-title{
    font-size: 1.5rem;
    padding: 0 0 15px;
  }

  #footer-college-title {
    font-size: 1.1rem;
    padding: 0 0 15px;
  }

  .footer-info-content {
    font-size: 0.9  rem;
  }

  #footer-copyright {
    text-align: center;
  }
}

@media screen and (max-width: 1400px) {
  #links{
    font-size: 1.2rem;
  }
}