.app{
  width: 100vw;
}

#header{
  position: relative;
}

#header > nav{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1.5rem;
  color: white;
  z-index: 10;
}

#logo > img{
  height: 80px;
}

#links{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.links-link{
  margin-right: 2rem;
  cursor: pointer;
}

#account > i{
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 1rem;
}

#hero > img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(50%);
}

.hero-title, .hero-subtitle{
  position: absolute;
  width: max-content;
  top: 40%;
  left: 50%;
  font-size: 4rem;
  font-weight: 600;
  color: white;
  transform: translate(-50%, 0);
}

.hero-subtitle{
  top: 55%;
  font-size: 2.5rem;
  font-weight: 400;
}

#footer{
  padding: 2rem 5rem;
  background-color: var(--bg-dark);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

#footer-head{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid white;
}

#footer-head-logo > img{
  height: 120px;
}

#footer-head-socials{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#footer-head-socials > i{
  font-size: 2rem;
  color: white;
  background-color: rgb(109 105 103);
  border-radius: 50%;
  padding: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}

#footer-info{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
}

#footer-info-title{
  font-size: 2rem;
}