:root{
  --bg-dark: rgb(93, 88, 86);
  --bg-medium-dark: rgb(148, 141, 141);
  --bg-medium: rgb(217, 217, 217);
  --bg-medium-light: rgb(238, 238, 238);
  --bg-light: rgb(245, 245, 245);
  --main-padding: 4rem;

  --color-dark: #051120;
  --color-accent: #0F52BA;
  --color-white: #FFF;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
}

.outer-wrapper{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 85%;
  margin: 50px 0px;
  row-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}
