*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
}

.outer-wrapper{
  width: 100vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 85%;
  row-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}
